{% extends "layout.html" %} {% block title %}Puskesmas Pagar Merbau - Edit Data
Anak{% endblock %} {% block content %}

<div class="card shadow mb-4">
  <div
    class="card-header py-3 d-flex justify-content-between align-items-center"
  >
    <h6 class="m-0 font-weight-bold text-primary">Input Data Anak</h6>
    <a
      href="{{ url_for('klasifikasi_stunting') }}"
      class="btn btn-sm btn-secondary"
    >
      <i class="fas fa-arrow-left"></i> Kembali
    </a>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-8 bg-white p-5 rounded">
      <form>
        <div class="mb-3">
          <label for="nama" class="form-label">Nama</label>
          <input type="text" class="form-control" id="nama" name="nama" />
        </div>
        <div class="mb-3">
          <label for="jeniskelamin" class="form-label">Jenis Kelamin</label>
          <input
            type="text"
            class="form-control"
            id="jeniskelamin"
            name="jeniskelamin"
          />
        </div>
        <div class="mb-3">
          <label for="umur" class="form-label">Umur</label>
          <input type="number" class="form-control" id="umur" name="umur" />
        </div>
        <div class="mb-3">
          <label for="berat" class="form-label">Berat</label>
          <input type="number" class="form-control" id="berat" name="berat" />
        </div>
        <div class="mb-3">
          <label for="tinggi" class="form-label">Tinggi</label>
          <input type="number" class="form-control" id="tinggi" name="tinggi" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

  <!-- /.container-fluid -->
</div>

{% endblock %}
